.idea/.gitignore
.idea/Electron transfer Qsim.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
ion_chain/ising/__pycache__/__init__.cpython-36.pyc
ion_chain/ising/__pycache__/ising_ps.cpython-36.pyc
ion_chain/operator/__pycache__/__init__.cpython-36.pyc
ion_chain/operator/__pycache__/phonon.cpython-36.pyc
ion_chain/operator/__pycache__/spin.cpython-36.pyc
